<div *ngIf="studentDetail" class="detail-popup">
    <div class="detail-body"> 
        <div class="detail-body-title">           
            <p class="detail-info">ID:</p>
            <p class="detail-info">Name:</p>
            <p class="detail-info">Birth:</p>
            <p class="detail-info">Adress:</p>
            <p class="detail-info">Gender:</p>  
            <p class="detail-info">Description:</p>  
            <p class="detail-info">Mofe Info:</p>            
        </div>
        <div class="detail-body-info">
            <p class="detail-info">{{studentDetail.id}}</p>
            <p class="detail-info">{{studentDetail.name}}</p>
            <p class="detail-info">{{studentDetail.birthDay}}</p>
            <p class="detail-info">{{studentDetail.adress}}</p>  
            <p class="detail-info">{{studentDetail.gender}}</p>
            <p class="detail-info">{{studentDetail.description}}</p>
            <p class="detail-info">{{studentDetail.detailinfomation}}</p>
        </div>                               
    </div>        
</div>  
