
<div class="container">
    <div class="header"> Student Information</div> 
    <kendo-grid 
        [data]="students"
        [selectable]="true"
        (selectionChange)="onchangeClick($event)"
    >       
        <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
        <kendo-grid-column field="birthday" title="Birthday"></kendo-grid-column>
        <kendo-grid-column field="adress" title="Adress"> </kendo-grid-column>
        <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
        <kendo-grid-column field="description" title="Description"> </kendo-grid-column>
    </kendo-grid>
    <kendo-dialog
        title="Detail Information"
        *ngIf="detailopen"
        (close)="close()"
        [minWidth]="250"
        [width]="450"
    >
        <div *ngIf="detailopen" class="detail-popup">
            <div class="detail-body"> 
                <div class="detail-body-title">           
                    <p class="detail-info">ID:</p>
                    <p class="detail-info">Name:</p>
                    <p class="detail-info">Birth:</p>
                    <p class="detail-info">Adress:</p>
                    <p class="detail-info">Gender:</p>  
                    <p class="detail-info">Description:</p>  
                    <p class="detail-info">Mofe Info:</p>            
                </div>
                <div class="detail-body-info">
                    <p class="detail-info">{{studentdetail.id}}</p>
                    <p class="detail-info">{{studentdetail.name}}</p>
                    <p class="detail-info">{{studentdetail.birthDay}}</p>
                    <p class="detail-info">{{studentdetail.adress}}</p>  
                    <p class="detail-info">{{studentdetail.gender}}</p>
                    <p class="detail-info">{{studentdetail.description}}</p>
                </div>                               
            </div>        
        </div>  
    </kendo-dialog>  
    
    <app-detaildialog [studentdetail]="studentdetail" [id]='id' [dialogopen]="detailopen"></app-detaildialog>
</div>





