
<div class="container">
    <div class="header"> Student Information</div> 
    <kendo-grid 
        [data]="students"
        [selectable]="true"
        (selectionChange)="showdetailDialog($event)"
    >       
        <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
        <kendo-grid-column field="birthday" title="Birthday"></kendo-grid-column>
        <kendo-grid-column field="adress" title="Adress"> </kendo-grid-column>
        <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
        <kendo-grid-column field="description" title="Description"> </kendo-grid-column>
    </kendo-grid>    
    <div kendoDialogContainer></div>
</div>





